<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CRM_Application.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ROOM_NUMBER_MAXIMUM" value="9"></add>
	</appSettings>
	<connectionStrings>
		<add name="AppointmentsDatabase" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = |DataDirectory|\CRM Application.mdf; Integrated Security=true"/>
	</connectionStrings>
    <userSettings>
        <CRM_Application.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
        </CRM_Application.Properties.Settings>
    </userSettings>
</configuration>